

.head {
    background: #52575d;
    color: #fff;
    height: 660px;
}

.head h1 {
    padding: 30px;
    float: left;
}

nav {
    text-align: right;
    padding: 30px;
    word-spacing: 50px;
}

ul li {
    display: inline-block;
}

.head a {
    text-decoration: none;
    color: #fff;
}

.header-content {
    font-size: 30px;
    padding-top: 200px; 
    text-align: center;
}

/*
  ========================================
  What we do section
  ========================================
*/

.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
    text-align: center;
}


.span_1_of_2 img {
    width: 50%;
}

.span_1_of_2 h4{
    font-weight: 300;
}

.span_1_of_2 p {
    font-weight: 300;
}

.digital {
    background: #f6f7f7;
}

 GO FULL WIDTH AT LESS THAN 480 PIXELS 

@media only screen and (max-width: 480px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}


/*  SECTIONS  */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

.plain {
    padding: 100px;
    text-align: center;
}

/*
  ========================================
  Who We Are
  ========================================
*/

.who-we-are {
    background: #52575d;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.who-we-are h1 {
    font-size: 80px;
}

.who-we-are p {
    padding-top: 20px;
}

.who-we-are h4{
    font-size: 18px;
}

.text {
    text-align: center;
    padding: 90px;
}

.footer {
    background: #52575d;
    color: #fff;
    text-align: center;
    padding: 100px;
}

.footer nav {
    text-align: center;
}
